<div class="form-div">
    <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" placeholder="username" [(ngModel)]="username" id="password" />
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" placeholder="password" [(ngModel)]="password" id="password" />
    </div>
    <div class="form-group">
        <label for="repeat-password">Repeat password: </label>
        <input type="password" class="form-control" placeholder="repeat password" [(ngModel)]="repeatPassword" id="repeat-password"/>
    </div>
    <div class="login-button-div">
        <button (click)="register()" class="btn btn-primary">Register</button>
    </div>
</div>