<nav class="nav justify-content-end nav-pills flex-column flex-sm-row">
  <div *ngFor="let navItem of navList" class="nav-item">
    <a
      class="nav-link flex-sm-fill text-sm-center"
      href="#"
      [routerLink]="[navItem.location]"
      routerLinkActive="router-link-active"
    >
      {{ navItem.text }}</a
    >
  </div>
  <div>
    <div *ngIf="isLoggedIn; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="nav-item">
        <a
          class="nav-link flex-sm-fill text-sm-center"
          href="#"
          (click)="logOutClick()"
          >Log out</a
        >
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="nav-item">
        <a
          class="nav-link flex-sm-fill text-sm-center"
          href="#"
          [routerLink]="[loginRedirect]"
          routerLinkActive="router-link-active"
          >Log in</a
        >
      </div>
    </ng-template>
  </div>
</nav>
