<div class="d-flex justify-content-center search-main-div mt-4">
  <div class="form-group w-50">
    <input type="search" #query class="form-control" />
  </div>
  
  <select class="form-control location-dropdown ml-2" [(ngModel)]="selectedLocation" *ngIf="locations">
 <!--   <option [ngValue]="" hidden [value]=""  selected>Location</option>-->
    <option *ngFor="let location of locations" [ngValue]="location">
      {{ location }}
    <option>
  </select>
  <button (click)="search(query.value)" class="btn btn-primary ml-2">Search</button>
</div>
